<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>HTML Template</title>

    <!-- Meta Tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "OrganizationName",
      "url" : "http://domain.ru",
      "sameAs" : [
        "http://vk.com/id",
        "https://www.facebook.com/id",
        "https://twitter.com/id",
        "https://plus.google.com/+id"
      ]
    }
    </script>

</head>

<body>

    {% include './_header.twig' %}

    {% block main %}
        Content of the page...

        <!-- Twig Documentation https://twig.symfony.com/doc/2.x/  -->
        {% for user in users %}
            <li>{{ user.username|e }}</li>
        {% endfor %}

        {% for i in 0..10 %}
            * {{ i }}
        {% endfor %}

        {% for letter in 'a'..'z' %}
            * {{ letter }}
        {% endfor %}

    {% endblock %}

    {% include './_footer.twig' %}

</body>
</html>