{% extends "./layout.twig" %}

{% block content %}
        <div class="test-block">
        <h1>test</h1>
        <button class="btn">
            test
            test
            test
            <img src="assets/images/icons/footer_mail.png" alt="svg">
            <img src="assets/images/loader.svg" alt="svg">
            
            <img src=<%=require("../images/loader.svg")%> /> 
        </button>
    </div>
{% endblock %}