{% extends "./layout.twig" %}

{% block content %}
        <div class="test-block">
        <h1>test</h1>
        <button class="btn">
            test
            <img src="assets/images/loader.svg" alt="svg">
        </button>
    </div>
{% endblock %}